<html>
    <h1>Select a Number</h1>

    <ul>
    <%  for (let i = 1; i <= 12; i++) {   
    %>
        <li><a href="http://127.0.0.1:4000/timestable/<%= i %>"><%= i %></a></li>
    <%  }   %>
    </ul>
</html>