<html>
    <h1>Times table of: <%= n %></h1>
    <!-- Single Answers -->
    <% for(let x = 1; x <=12 ; x++) { %>
    <%= n %> x <%= x %> = <strong><%= n * x %></strong>
    <br />
    <% } %>
    <br />
    <!-- Route back to 'landing page' -->
    <a href="http://127.0.0.1:4000">home</a>
</html>