<html>
    <h1>Times table of: <%= tn %></h1>

    <% for(let n = 1; n <=12 ; n++) { %>
    <%= tn %> x <%= n %> = <strong><%= tn * n %></strong>
    <br />
    <% } %>
    <br />
    <a href="http://127.0.0.1:4000">back</a>
</html>